<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zhuce</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script>
        $(function () {
            $("#register").click(function () {
                let data = {};
                let username = $("#username").val();
                let password = $("#password").val();
                let address = $("#address").val();
                let telephone = $("#telephone").val();
                let email = $("#email").val();
                $.ajax({
                    type: "POST",
                    url: "/register?username=" + username + "&password=" + password + "&address=" + address + "&telephone=" + telephone + "&email=" + email,
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result) {
                            //$(location).attr('href', 'index.html');
                            location.href = "index.html";
                        } else {
                            alert("注册失败");
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
<div>
    <div class="register_form">
        用户名：<input type="text" name="username" id="username"><br>
        密码：<input type="password" name="password" id="password"><br>
        地址：<input type="text" name="address" id="address"><br>
        电话：<input type="text" name="telephone" id="telephone"><br>
        邮箱：<input type="text" name="email" id="email"><br>
        <button id="register">注册</button>
    </div>
</div>

</body>
</html>