<!DOCTYPE html>
<html lang="en">
<head>
    <title>注册</title>
    <meta charset="UTF-8">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="all">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script>
        $(function () {
            $("#register").click(function () {
                let data = {};
                let username = $("#username").val();
                let password = $("#password").val();
                let address = $("#address").val();
                let telephone = $("#telephone").val();
                let email = $("#email").val();
                $.ajax({
                    type: "POST",
                    url: "/register?username=" + username + "&password=" + password + "&address=" + address + "&telephone=" + telephone + "&email=" + email,
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result) {
                            //$(location).attr('href', 'index.html');
                            location.href = "index.html";
                        } else {
                            alert("注册失败");
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
    <section class="main">
        <div class="bottom-grid">
            <div class="logo">
                <h1> <a href="index.html"> Personal Diary</a></h1>
            </div>
        </div>
        <!-- register -->
        <div class="w3lhny-register">
            <form action ="#" method="post" class="register-form">
                <fieldset>
                    <div class="form">

                            <input type="text" name="username" id="username" class="form-text" placeholder="用户名" required="true">


                            <input type="password" name="password" id="password" class="form-text" placeholder="密码" required="true">

                        <div class="form-row">
                            <input type="text" name="address" id="address" class="form-text" placeholder="地址" required="">
                        </div>
                        <div class="form-row">
                            <input type="text" name="telephone" id="telephone" class="form-text" placeholder="电话" required="">
                        </div>
                        <div class="form-row">
                            <input type="email" name="email" id="email" class="form-text" placeholder="邮箱" required="">
                        </div>
                        <div class="form-row button-login">
                            <button class="btn btn-login" id="register">注册</button>
                        </div>
                    </div>
                </fieldset>
                </form>
                <p class="already">已有账户 <a href="#">登录</a></p>
        </div>
        <div class="w3l-copyright">
            <p>© 2022 Workspace Sign Up Form. All rights reserved | Design by <a href="">Personal Diary</a>
            </p>
        </div>
    </section>
</body>
</html>